<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:template-part {"slug":"home-hero"} /-->

	<!-- wp:template-part {"slug":"home-dean"} /-->

	<!-- wp:template-part {"slug":"home-schools"} /-->

	<!-- wp:template-part {"slug":"home-announcements"} /-->

	<!-- wp:template-part {"slug":"home-programs"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
